header
    div.wrapper
        div.logo-container
            a.logo(href="index.html") 
                img(src="assets/img/logo.png" alt="логотип")
        nav
            a(href="index.html") Главная
            a(href="about-game.html") Об игре
            a(href="process.html") Процесс игры
        div.contacts
            a.whatsapp(href="whatsapp://+1234567890") What’sApp
            a.phone(href="tel:+79264257933") +8 926 425-79-33
            div.clear
        div.clear